h3 {
	border: 1px solid gray;
	border-radius: 25px;
	padding: 10px;
	background-color: white; 
	color: #272728;
}

.art {
	background-color: white;
	border: 1px solid gray;
	border-radius: 25px;
	padding: 10px;
}

h1 {
	font-family: impact; 
	font-size: 2em; 
}

